@reference "../../styles/globals.css";

.photo-section {
  @apply w-full mt-[60px];
  padding-left: var(--spacing-responsive-px);
  padding-right: var(--spacing-responsive-px);
}

.my-photo {
  @apply flex gap-[10px] items-center justify-center sm:justify-start text-[#303030] text-[16px] font-[700];
}

.photos {
  @apply w-full gap-[8px] grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}
