@import "tailwindcss";

:root {
  --spacing-responsive-px: 1.5rem;
  --font-main: "Inter Display", "Inter Display Placeholder", sans-serif;
  --font-heading: "Outfit", sans-serif;
  --text-primary: #707070;
}

@media (min-width: 768px) {
  :root {
    --spacing-responsive-px: 3rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --spacing-responsive-px: 7rem;
  }
}

@media (min-width: 1280px) {
  :root {
    --spacing-responsive-px: 14.375rem;
  }
}

.responsive-px {
  padding-left: var(--spacing-responsive-px);
  padding-right: var(--spacing-responsive-px);
}

.responsive-pl {
  padding-left: var(--spacing-responsive-px);
}

body {
  @apply bg-[#f1f1f1] antialiased;
  font-family: var(--font-main);
  color: var(--text-primary);
}
